<div class="app">
    <div class="category">
        <div class="logo">
            <img src="https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg" alt="">
        </div>
        <div class="component">
            <div class="component-1" style="border-bottom: 1px solid #393243;">
                <ul>
                    <li class="active"><a href=""><i style="font-weight: 100;" class="fas fa-user"></i><span style="font-weight: bolder;">Cá Nhân</span></a></li>
                    <li><a href=""><i style="font-weight: 100;" class="far fa-dot-circle"></i><span style="font-weight: bolder;">Khám phá</span></a></li>
                    <li><a href=""><i style="font-weight: 100;" class="far fa-comment-dots"></i><span style="font-weight: bolder;">#Zingchart</span></a></li>
                    <li style="position: relative;"><a href=""><i style="font-weight: 1000;" class="fas fa-broadcast-tower"></i><span style="font-weight: bolder;">Radio & Podcast</span><span class="live">live</span></a></li>
                    <li><a href=""><i style="font-weight: 100;" class="far fa-newspaper"></i><span style="font-weight: bolder;">Theo dõi</span></a></li>
                </ul>
            </div>

            <div class="component-2">
                <ul>
                    <li><a href=""><i style="font-weight: 1000;" class="fas fa-music"></i><span style="font-weight: bolder;">Nhạc Mới</span></a></li>
                    <li><a href=""><i style="font-weight: 100;" class="far fa-list-alt"></i><span style="font-weight: bolder;">Thể Loại</span></a></li>
                    <li><a href=""><i style="font-weight: 1000;" class="fas fa-stopwatch-20"></i><span style="font-weight: bolder;">Top 100</span></a></li>
                    <li style="position: relative;"><a href=""><i style="font-weight: 1000;" class="fas fa-tv"></i><span style="font-weight: bolder;">MV</span><span class="live" style="background-color: rgba(255, 0, 0, 0.767);">live</span></a></li>
                    <li><a href=""><i style="font-weight: 1000;" class="fab fa-youtube-square"></i><span style="font-weight: bolder;">Theo dõi</span></a></li>
                </ul>

                <div class="bonus">
                    <p>Nghe nhạc không quảng cáo cùng kho nhạc VIP</p>
                    <a href="" class="btn btn-warning">Mua VIP</a>
                </div>

                <div class="lib">
                    <span>THƯ VIỆN</span>
                    <div class="item">
                        <ul>
                            <li><a href=""><i class="fas fa-parachute-box" style=" color:#0490FF;"></i><span style="font-weight: bolder;">Bài Hát</span></a></li>
                            <li><a href=""><i class="fab fa-playstation" style="color: #8DC74E;"></i><span style="font-weight: bolder;">Playlist</span></a></li>
                            <li><a href=""><i class="far fa-clock" style="color: #F8AF4B;"></i><span style="font-weight: bolder;">Gần đây</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-playlist">
            <a href="" style="color: #fff;"><i class="fas fa-plus"></i>Tạo Playlist Mới</a>
        </div>
    </div>
    
    <div class="body">
       <img src="https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg" alt="">
    </div>
    <div class="bar-music">
        <div class="component-1">
            <img src="/img/img1.jpg" alt="">
            <div class="title">
                <span class="name" style="color: #FBFBFB;">Anh Luôn Là Lý Do</span><br>
                <span class="author" style="color:hsla(0,0%,100%,0.5);">Erik</span>
            </div>
            <div class="icon">
                <i class="far fa-heart heart"></i>
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </div>

        <div class="component-2">
            <div class="control" style="text-align: center;">
                <div class="btn btn-repeat">
                    <i class="fas fa-redo"></i>
                </div>
                <div class="btn btn-prev">
                    <i class="fas fa-step-backward"></i>
                </div>
                <div class="btn btn-toggle-play">
                    <i class="fas fa-pause icon-pause"></i>
                    <i class="fas fa-play icon-play"></i>
                </div>
                <div class="btn btn-next">
                    <i class="fas fa-step-forward"></i>
                </div>
                <div class="btn btn-random">
                    <i class="fas fa-random"></i>
                </div>
            </div>
            <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100">
        </div>

        <div class="component-3">
            <i class="fab fa-youtube"></i>
            <i class="fas fa-microphone-alt"></i>
            <div class="volume">
                <i class="fas fa-volume-up" id="volume_icon"></i>
                <input type="range" min="0" max="100" value="100" id="volume" class="progress">
            </div>
            <div class="list-music">
                <i class="fas fa-drum" style="color: hsla(0, 0%, 100%, 0.5);"></i>
            </div>
        </div>

    </div>
</div>